<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        html {
            font-family: Arial, sans-serif;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <h3>Registration Request</h3>
    <p>First Name:      {{ data.firstname }}</p>
    <p>Last Name:       {{ data.lastname }}</p>
    <p>Email:           {{ data.email }}</p>
    <p>Phone:           {{ data.phone }}</p>
    <p>Address:         {{ data.address }}</p>
    <p>Birth Date:            {{ data.birthdate }}</p>
    <p>Gender:            {{ data.gender }}</p>
    <p>Nationality:            {{ data.nationality }}</p>
    <p>Education:            {{ data.education }}</p>
    <p>Program:            {{ data.program }}</p>
    <p>Achievements:            {{ data.achievements }}</p>
    <p>Essay:            {{ data.essay }}</p>
</body>
</html>